.main-detail-cnt {
  display: flex;
  border: 1px solid green;
  width: 700px;
}

.navigate-btn-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 51px;
}

.navigate-btn {
  height: 50px;
  width: 50px;
  border: none;
  background-color: rgb(250, 252, 253);
}

.home-detailComp-cnt {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  align-items: center;
}
