.main-detail-cnt {
  display: flex;
  padding-left: 105px;
}

.navigate-btn-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 51px;
}

.navigate-btn {
  height: 50px;
  width: 50px;
  border: none;
  background-color: rgb(250, 252, 253);
}
